.link {
    -fx-text-fill: #0076a3;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.link:hover {
    -fx-text-fill: #005c8a;
    -fx-underline: true;
}

.primary-btn {
    -fx-background-color: #06a53b;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-background-radius: 5px;
}

.primary-btn:hover {
    -fx-background-color: #058f33;
}

.secondary-btn {
    -fx-background-color: #0c1a25;
    -fx-text-fill: #06a53b;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-background-radius: 5px;
}

.secondary-btn:hover {
    -fx-background-color: #0a1721;
}

.primary-outline-btn {
    -fx-background-color: transparent;
    -fx-border-color: #06a53b;
    -fx-text-fill: #06a53b;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.primary-outline-btn:hover {
    -fx-background-color: #06a53b;
    -fx-text-fill: black;
}

.secondary-outline-btn {
    -fx-background-color: transparent;
    -fx-border-color: #0c1a25;
    -fx-text-fill: #0c1a25;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.secondary-outline-btn:hover {
    -fx-background-color: #0c1a25;
    -fx-text-fill: #06a53b;
}

.modalContainer {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
    -fx-padding: 20px;
}

.modalTitle {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #0c1a25;
    -fx-padding: 0 0 20px 0;
}

.danger-outline-btn {
    -fx-background-color: transparent;
    -fx-border-color: #FF4949;
    -fx-text-fill: #FF4949;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.danger-outline-btn:hover {
    -fx-background-color: #ff5a5a;
    -fx-text-fill: white;
}

.danger-btn {
    -fx-background-color: #FF4949;
    -fx-border-color: #FF4949;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.danger-btn:hover {
    -fx-background-color: #ff5a5a;
    -fx-border-color: #ff5a5a;
}

