.navItem {
    -fx-cursor: hand;
    -fx-padding: 0 10px;
}

.navItem,
.navItem > .label {
    -fx-background-radius: 5px;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.active,
.active > .label {
    -fx-font-weight: bold;
    -fx-background-color: #06a53b;
    -fx-text-fill: #0c1a25;
}

.navItem:hover,
.navItem:hover > .label {
    -fx-background-color: #058f33;
    -fx-text-fill: #0c1a25;
}

.navbar {
    -fx-background-color: #0c1a25;
    -fx-border-radius: 0 0 5px 5px;
}